html{     /*texte de descrition*/
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;

    }
    
.topnav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, .15);
  margin-right: 2rem;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgba(255, 255, 255, .75);
  color: #50abf1;
}
    
.titre{
    font-size: 5rem;
    display: flex;
    justify-content: center; 
    font-weight: bold;
    margin-top: 3rem;      
    }
    
body{
    width: 100%;
    height: 100%;
    background: linear-gradient( #50abf1 , #89d8f8 )no-repeat center fixed;
    background-size: cover;
    }
        
.sun {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: 70%;
    margin-top: 5%;
    background-color: #FFDE00;
    border-radius: 50%;
    box-shadow:
        0 0 0 20px #FFDE0080,
        0 0 0 40px #FFDE0040,
        0 0 0 60px #FFDE0020,
        0 0 0 80px #FFDE0010,
        0 0 0 100px #FFDE0000,
        0 0 40px 100px #FFDE0010;
        animation:
            sunrise 2s infinite linear forwards,
            rays 2s 2s infinite linear;
            }

        @keyframes sunrise {
            0% {
                box-shadow: none;
                    }
            }

        @keyframes rays {
            0% {
                box-shadow: 
                0 0 0 0 #FFDE0080,
                0 0 0 20px #FFDE0080,
                0 0 0 40px #FFDE0040,
                0 0 0 60px #FFDE0020,
                0 0 0 80px #FFDE0010,
                0 0 40px 100px #FFDE0010;
                }
                100% {
                box-shadow: 
                0 0 0 20px #FFDE0080,
                0 0 0 40px #FFDE0040,
                0 0 0 60px #FFDE0020,
                0 0 0 80px #FFDE0010,
                0 0 0 100px #FFDE0000,
                0 0 40px 100px #FFDE0010;
                }
            }

.box{
    background-color: rgba(255, 255, 255, .15);  
    border-radius: 40px 40px 40px 40px;  
    width: 30rem;
    height: 30rem;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15rem;
            
    }
        
label{
    display: flex;
    justify-content: center; 
    font-size: 2rem;
    }
       
        
.case{
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    }
input{
    border-radius: 40px 40px 40px 40px;
    width: 20rem;
    height: 3rem;;
    font-size: 15px;  
    margin-top: 4rem;
    text-align: center;
    }
.button {
    border-radius: 40px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 24rem;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 11%;
    margin-top: 6rem;
    }

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #50abf1;
    }

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }

 .button:hover span {
        padding-right: 25px;
         }

.button:hover span:after {
    opacity: 1;
    right: 0;
         }

#background-wrap {
    bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}
